body {
    /* ロード時のanimation */
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 1; 

    /* フォントの指定 */
    font-family:"游ゴシック Medium","Yu Gothic Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",sans-serif;
    text-decoration: none;
    margin: 0%;
}

/* ロード時のanimation */
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* ページのタイトル（一番大きい見出し） */
.title1{
    background: linear-gradient(transparent 80%, orange 0%);
    font-size: 2.5em;
}
.title2{
    background: linear-gradient(transparent 80%, #E51638 0%);
    font-size: 2.5em;
}
.title3{
    background: linear-gradient(transparent 80%, #9000A3 0%);
    font-size: 2.5em;
}
.title4{
    background: linear-gradient(transparent 80%, #49A318 0%);
    font-size: 2.5em;
}
.title5{
    background: linear-gradient(transparent 80%, #52B9E9 0%);
    font-size: 2.5em;
}

/* スマホメニューアイコン */
.menu-trigger{
    display:none;
}

#top{
    position: relative;
    /* background-image: url(hiyoko.jpg);背景画像 */
    background: linear-gradient(rgba(255, 165, 0, 0.4) 40%, rgba(255, 165, 0, 0.2) 70%, rgba(255, 165, 0, 0)), url(hiyoko.jpg) center bottom / cover no-repeat;
    background-attachment: fixed;/*画面からの相対位置（背景固定）*/
    background-size: cover;/*背景サイズ調整*/
    height:750px;/*div高さ*/
}
#top p{
    position: absolute;
    color: rgb(255, 255, 255);/*文字は白に*/
    -webkit-text-stroke: 1px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*文字ずれ調整*/
    text-align: center;
    font-size: 4em;

    white-space: nowrap;
}
#top img{
    width: 100%;
}

/* PCメニュー関連 */
nav.pc_menu ul{
    position: absolute;
    top: 0;
    left: 10%;
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 80%;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.3);
}
nav.pc_menu li{
    display: table-cell;
    min-width: 50px;
}
nav.pc_menu a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding: 5px;
}
nav.pc_menu li.current{
    border-bottom: 3px solid orange;
}
nav.pc_menu li:hover{
    color: #E7DA66;
    border-bottom: 3px solid #52B9E9;
}

/* サイトマップ */
#sitemap{
    margin-top: 2%;
    position: relative;
    padding: 3% 10%;
    background-color: #2F2F2F;
}

/* サイトマップの見出し */
#sitemap_h{
	font-size: 2.0em;
	color: white;
}

/* サイトマップのリンクの書式 */
.sitemap_l{
    /* display: block; */
    display: table;
    font-size: 1em;
    margin-bottom: 1%;
    margin-top: 1%;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.sitemap_l:hover {
  color: orange;
}

/* サイトマップのリンク群 */
#link{
    width: 60%;
}

/* qrコード */
#qr{
    position: absolute;
    right: 10%;
    top:30%;
}
#qr{
    display: none;
}

/* フッター */
#footer {
    text-align: center;
    font-size: 0.9em;
    color: #000;
    background-color: orange;

    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.arr_pc{
    display: block;
}
.arr_phone{
    display: none;
}

/* content */
.content{
    padding:40px 10%;
}