body {
    /* ロード時のanimation */
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 1; 

    font-family: sans-serif;
    text-decoration: none;
    margin: 0%;
}

/* ロード時のanimation */
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* ページのタイトル（一番大きい見出し） */
.title1{
    background: linear-gradient(transparent 80%, orange 0%);
    font-size: 2.5em;
}
.title2{
    background: linear-gradient(transparent 80%, #E51638 0%);
    font-size: 2.5em;
}
.title3{
    background: linear-gradient(transparent 80%, #9000A3 0%);
    font-size: 2.5em;
}
.title4{
    background: linear-gradient(transparent 80%, #49A318 0%);
    font-size: 2.5em;
}
.title5{
    background: linear-gradient(transparent 80%, #52B9E9 0%);
    font-size: 2.5em;
}

/* スマホメニューアイコン */
.menu-trigger{
    display:none;
}

/* PCメニュー関連 */
.luxbar-item:hover{
    color: #000;
    transition: 0.4s
}
.luxbar-item:hover .content_hover{
    display: block;
    width: 300px;
    height: auto;
    background-color: #FFF;
}
.content_hover{
    position: absolute;
    top: 100%;

    display: none;
}
.hover_menu{
    list-style: none;
}
.hover-item{
    padding: 3px 5px 2px 5px;
    margin: 0px 0px 2px 0px;
    color: #000;
    background-color: rgb(255, 228, 179);
}
.hover-item  a{
    display: inline;
    padding: 0;
}
.hover-item  a:hover{
    text-decoration-line: underline;
}

/* サイトマップ */
#sitemap{
    margin-top: 2%;
    position: relative;
    padding: 3% 10%;
    background-color: #2F2F2F;
}

/* サイトマップの見出し */
#sitemap_h{
	font-size: 2.0em;
	color: white;
}

/* サイトマップのリンクの書式 */
.sitemap_l{
    /* display: block; */
    display: table;
    font-size: 1em;
    margin-bottom: 1%;
    margin-top: 1%;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.sitemap_l:hover {
  color: orange;
}

/* サイトマップのリンク群 */
#link{
    width: 60%;
}

/* qrコード */
#qr{
    position: absolute;
    right: 10%;
    top:30%;
}
#qr{
    display: none;
}

/* フッター */
#footer {
    text-align: center;
    font-size: 0.9em;
    color: #000;
    background-color: orange;

    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.arr_pc{
    display: block;
}
.arr_phone{
    display: none;
}

/* content */
.content{
    padding:0 10%;
    margin-top:80px;
}