html, body { 
    background-color: blueviolet;
}
*{
    font-family: sans-serif;
    font-size: 1.0em;
}
a {
    text-decoration: none;
}
#header{
    background-color: crimson;
    height: 100px;
    width: auto;
    padding: 3.0em;
    font-size: 2.0em;
    color: white;
    text-align: center;
}
#content{
    background-color: black;
    padding: 1% 0%;
}
.rs{
    position: absolute;
    right: 0%;
    margin: 0% 1%;
    width: calc((100% - 80%)/2 - 2%);
}
.th1{
    margin: 0% 0% 10% 0%;
    padding: 10%;
    background-color: skyblue;
    display: block;
}
.ls{
    position: absolute;
    left: 0%;
    margin: 0% 1%;
    width: calc((100% - 80%)/2 - 2%);
}
.th2{
    margin: 0% 0% 10% 0%;
    padding: 10%;
    background-color: rgb(187, 255, 0);
    display: block;
}
#main{
    padding: 1%;
    position: relative;
    left:calc(8%);
    background-color: white;
    width: 78%;
    height: auto;
    margin: 0% 2%;
}
#footer{
    background-color: teal;
    height: 100px;
    width: auto;
    padding: 3.0em;
    font-size: 2.0em;
    color: white;
    text-align: center;
}
#shomei{
    background-color: rgb(0, 54, 54);
    font-size: 1.0em;
    color: white;
    text-align: center;
}
.bottom{
    width: 100%;
    bottom: 0%;
}

.btn04 {
    /* padding: 0.5em 1em; */
    color: coral;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* ボタンにカーソルを合わせたとき */

.btn04:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(230, 230, 230);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}