/* スマホ用 */
@media screen and (max-width: 768px){
    p {
        margin: 2% 0;
    }
    
    #top{
        position: relative;
        background-image: url(hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    #top p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 45%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 1.25em;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }

    /* スマホメニューアイコン */
    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        box-sizing: border-box;
    }
    #menubtn_name{
        position: fixed;
        margin: 0;
        right: 12px;
        top:40px;
        font-size: 0.5em;
    }
    .menu-trigger {
        position: fixed;
        /* ヘッダーの固定 */
        top: 10px;
        /* 位置(上0px) */
         right: 5px;
        /* 位置(右0px) */
        width: 40px;
        height: 32px;
        z-index: 10;
    }
    .menu_btn{
        position: fixed;
        top: 5px;
        right: 0px;
        width: 50px;
        height: 50px;
        background-color: hsla(0, 0%, 100%, 0.7)
    }
    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #ff6f00;
        border-radius: 4px;
    }
    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    .menu-trigger span:nth-of-type(2) {
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    
    .menu-trigger.active > p{
        display: none;
    }
    .menu-trigger.active span:nth-of-type(1) {
        -webkit-transform: translateY(14px) rotate(-315deg) scale(.8);
        transform: translateY(14px) rotate(-315deg) scale(.8);
        background-color: rgb(255, 255, 255);
    }
    .menu-trigger.active span:nth-of-type(2) {
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: 3px solid #fff;
        border-radius: 50%;
    }
    .menu-trigger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-14px) rotate(315deg) scale(.8);
        transform: translateY(-14px) rotate(315deg) scale(.8);
        background-color: rgb(255, 255, 255);
    }
    
    /* スマホメニュー */
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #8f3e01;
        /* opacity: 0.95; */
        top: 0;
        left: 0;
        z-index: 2;
        text-align: center;
    }
    .menu_contents {
        list-style: none;
        padding: 0;
        margin-top: 50px;
    }
    .links {
        display: block;
        text-decoration: none;
        color: white;
        width: 100%;
        font-size: 1em;
        margin: 0.5em 0;
        z-index: 4;
    }
    .menu_t {
        font-size: 2em;
        width: 100%;
        margin-top: 1em;
        color: white;
    }
    
    /* PCメニュー */
    .pc_menu{ 
        display: none;
    }
    
    /* サイトマップ */
    #sitemap{
        margin-top: 5%;
        position: relative;
        padding: 5% 5% 2% 5%;
        background-color: #2F2F2F;
    }

    /* サイトマップのリンク群 */
    #link{
        width: 100%;
    }
    .sitemap_l{
        margin-bottom: 3%;
        margin-top: 3%;
    }

    /* qrコード */
    #qr{
        display: none;
    }
    /* フッターのコピーライト */
    .arr_phone{
        display: block;
        margin: 0;
    }
    .arr_pc{
        display: none;
    }
    /* content */
    .content{
        padding:0 5%;
        margin-top:2%;
    }
    /* ページのタイトル（一番大きい見出し） */
    .title1,.title2,.title3,.title4,.title5{
        font-size: 1.5em;
    }
    /* サイトマップの見出し */
    #sitemap_h{
	    font-size: 1.5em;
    }
}