/* スマホ用 */
@media screen and (max-width: 768px){
    p {
        margin: 2% 0;
    }
    
    .top{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top img{
        display: none;
    }

    .top_map{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top_map p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top_map img{
        /* display: initial; */
    }

    .top_schedule{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top_schedule p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top_schedule img{
        /* display: initial; */
    }

    .top_game{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top_game p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top_game img{
        /* display: initial; */
    }

    .top_event{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top_event p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top_event img{
        /* display: initial; */
    }

    .top_intro{
        position: relative;
        background-image: url(../img/hiyoko.jpg);/*背景画像*/
        background-attachment: unset;/*画面からの相対位置（背景固定）*/
        background-size: cover;/*背景サイズ調整*/
        height:680px;/*div高さ*/
    }
    .top_intro p{
        position: absolute;
        color: rgb(0, 0, 0);/*文字は白に*/
        top: 35%;
        /* left: 4%; */
        transform: translate(-50%,-50%);/*文字ずれ調整*/
        font-size: 7vw;
        text-align: center;
    
        /* transform: translate(0,-50%);文字ずれ調整 */
    }
    .top_intro img{
        /* display: initial; */
    }
    
    /* サイトマップ */
    #sitemap{
        margin-top: 5%;
        position: relative;
        padding: 5% 5% 2% 5%;
        background-color: #2F2F2F;
    }

    /* サイトマップのリンク群 */
    #link{
        width: 100%;
    }
    .sitemap_l{
        margin-bottom: 3%;
        margin-top: 3%;
    }

    /* qrコード */
    #qr{
        display: none;
    }
    /* フッターのコピーライト */
    .arr_phone{
        display: block;
        margin: 0;
    }
    .arr_pc{
        display: none;
    }
    /* content */
    .content{
        padding:0 5%;
        margin-top:2%;
    }
    /* ページのタイトル（一番大きい見出し） */
    .title1,.title2,.title3,.title4,.title5{
        font-size: 1.5em;
    }
    /* サイトマップの見出し */
    #sitemap_h{
	    font-size: 1.5em;
    }
    .map p,.schedule p,.game p,.event p,.intro p{
        font-size: 1.75em;
    }
    .map img,.schedule img,.game img,.event img,.intro img{
        display: initial;
        height: 500px;
        width: 100%;
    }
}